
<div ng-show="$ctrl.isAdmin" class="papagaio">
    <span style="cursor: pointer;" class="admins-assistant green font13" ng-click="$ctrl.toggle($ctrl.show)"> Admins </span>
<div ng-if="$ctrl.display" ng-click="$ctrl.toggle($ctrl.show)">
    <div class="parrot">
        <div class="header">
            <div class="peakt"></div>
            <div class="face"></div>
            <div class="eye"></div>
            <div class="peakf"></div>
        </div>
        <div class="parrot-body">
            <div class="wing1"></div>
            <div class="wing2"></div>
            <div class="wing3"></div>
            <div class="shadowing"></div>
        </div>
        <!--<div class="foot"></div>-->
        <div class="tail"></div>
    </div>
</div>

</div>
