<div class="login-container password-reset-form" ng-controller="CreatePassCtrl as cp">
    <section class="login-form-block">
        <header>
            <div class="tickertags-logo-big"></div>
            <h1>Welcome to the TickerTags beta!</h1>
            <p class="password-rules">Create your password below (4-16 characters, no spaces).</p>
        </header>

        <div class="login-form">
            <form name="loginForm" ng-submit="cp.submitPassword(cp.credentials)" novalidate>
                <div class="login-alert">{{ cp.message }}</div>
                <div class="login-success">{{ cp.messageSuccess }}</div>
                <input type="password" id="password1" placeholder="Password" name="password1" ng-model="cp.credentials.password1">
                <input type="password" id="password2" placeholder="Repeat Password" name="password2" ng-model="cp.credentials.password2">
                <button type="submit" ng-disabled="cp.processing" class="login-btn">Create Password</button>
            </form>

            <p class="terms-of-use-line">
                <a href="assets/files/tickertags-terms-of-use.pdf" target="_blank">Terms of Use</a> | 
                <a href="assets/files/privacypolicy.pdf" target="_blank">Privacy Policy</a>
            </p>
        </div>
    </section>
</div>