<div>
	<section class="modal-help">
		<div class="fl mbot10 w100">
	    	<div class="icon-help-circled"></div>
		</div>

	    <p>View and link to context for the selected Tag(s) across one seven content streams (Twitter, Non-Financial News, Financial News, Blogs, Forums, Reviews and Video comments).</p>

	    <p><strong>Thumbs Up /Thumbs Down:</strong></p>

	    <p>Please Thumbs Up content that is highly relevant and meaningful to your Tag and Thumbs down contextually irrelevant content.  Using the Thumbs Up / Thumbs Down feature creates learning sets of good and bad content data which helps us to identify appropriate content and filter out contextually irrelevant content for that Tag in the future.</p>

	    <button class="btn-modal" ng-click="shc.close()">Dismiss</button>
	</section>
	<div class="overlay" ng-click="shc.close()"></div>
</div>