<div>
    <div class="modal-default modal-cancel-sub">
        <div class="icon-attention-1"></div>
        <!-- <div class="icon-cancel big-x" ng-click="csub.cancel()"></div> -->
        <hr>
        <div><p>Are you sure you want to cancel your TickerTags subscription?</p></div>
        <div class="cancel-btn-container">
	        <button class="fl btn-cancel-sub btn-green-filled mr10" ng-click="csub.yes()">Yes Cancel</button>
	        <button class="fl btn-cancel-sub btn-green" ng-click="csub.cancel()">No</button>
        </div>
    </div>
    <div class="overlay" ng-click="csub.cancel()"></div>
</div>