/* Chart Header
============================================================
========================================================= */

.tag-collapse-btn { float: left; left: -34px; top: -4px; }

.tag-collapser-bg,
.tag-expander-bg {
    position: relative;
    width: 20px;
    height: 25px;
    cursor: pointer;
    z-index: 1;
    border: 1px solid $gray3;
    background: $gray_47;
    @include transition(background, .4s, ease-out);
    @include box-shadow(5px 0 10px -5px rgba(50, 50, 50, 1));
    &:hover { background: lighten($gray_47, 5%); }

    .icon-left-open,
    .icon-right-open { color: $gray3; font-size: em(12); }
}

.tag-collapser-bg {
    top: -11px;
    border-radius: 2px 0px 0px 2px;
    -moz-border-radius: 2px 0px 0px 2px;
    -webkit-border-radius: 2px 0px 0px 2px;

    &:hover { .icon-left-open { color: $green; } }
    .icon-left-open { top: 6px; right: -1px; }
}

.tag-expander-bg {
    position: absolute;
    float: left;
    top: 15px;
    left: 0;
    margin-right: 20px;
    border-radius: 0px 2px 2px 0px;
    -moz-border-radius: 0px 2px 2px 0px;
    -webkit-border-radius: 0px 2px 2px 0px;
    &:hover { .icon-right-open { color: $green; } }
    .icon-right-open {top: 6px; left: 2px; }
}

#tags-collapse,
#tags-expand { left: 7px; top:  7px; width: 20px; height: 25px; z-index: 2; }

#feed-expand   {
    width: 20px; height: 25px; top: 6px; left: 8px;
    .icon-left-open { top: 6px; right: -1px; }
}

.widen-element {
    position: fixed !important;
	left: 0 !important;
    width: 100% !important;
    .extra-chart-options { right: 20px; }
}

.chosen-ticker-details {
	position: relative;
	z-index: 1030;
	padding: 20px 0 0 20px;
	width: auto;
	min-width: 700px;
	height: 30px;
	background: $gray_47;
	@include noselect();
	@include clearfix();
	header { margin-left: 15px; background: $gray_47; }
}

.ticker-price-info {
	@include noselect();
    li { float: left; }
    li:first-child { margin-left: 0 !important; }
}

.chosen-ticker {
	float: left;
	h1, em, span { float: left; }
	h1   { margin-right: 10px; font-family: 'robotobold'; font-size: em(22); color: $blue }
	span { font-size: em(11); line-height: em(42); color: $gray2; }
}

.current-price {
	float: left;
	margin-right: 20px;
	width: 100%;
	text-align: center;
	em   { margin-right: -3px; font-size: em(11); font-family: 'robotobold'; color: $gray2; }
	span { font-size: em(22); font-family: 'robotolight'; color: #fff; }
}

.percentage-change {
	text-align: right;
	em   { font-family: 'robotobold'; font-size: em(12); }
	span { margin-right: 5px; font-weight: 300; font-size: em(22); }
	.positive { color: $green !important; }
	.negative { color: $red; }
	.default  { color: #fff; }
	.ico-fullscreen { float: right; top: 2px; right: -40px; }
}

.ico-descriptions {
	position: relative;
	top: -3px;
	margin-right: 5px;
	font-size: em(12);
}

.extra-chart-options {
	position: relative;
	right: 20px;
	float: right;
	color: $gray2;
	li { float: left; margin-left: 10px; }
	@include noselect();

	.tag-collapser-bg {
		top: 0; left: 10px;
		@include box-shadow(-2px 0px 10px 0px rgba(50, 50, 50, .5));
	}

	.icon-picture {
		float: left;
		color: $white;
		cursor: pointer;
		&:hover { color: $green; }
	}

	.icon-bell-alt,
	.icon-bell-off {
		float: left;
		cursor: pointer;
		&:hover { color: $gray1; }
	}

	.icon-bell-alt { color: $green; }
}

.feed-expand-btn {
	.tag-collapser-bg { top: -5px; left: 21px; }
}

.btn-chart-alerts { float: left; font-size: em(12); }

.modifier { position: relative; top: -2px; left: 5px; font-size: em(11) !important; }

.left-0  { left: 0 !important; }
.left-40 { padding-left: 40px !important; }

.fullscreen-chart { float: right; cursor: pointer; }

.full-chart-comingsoon {
	right: 50px;
	&:before { display: none; }
	&:after  { position: absolute; right: -9px; top: 11px; @include triangle(right, 8px, $gray2); }
}

.export-data-popover {
	top: 205px;
	right: 365px;
	h1 { margin-bottom: 20px; }
	.select-style { margin-bottom: 15px; }
}

.feed-closed {
	.export-data-popover { right: 115px; }
}

.show-under-1300 { display: none; }
.hide-under-1300 { display: block; }